@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Roboto:wght@400;500;700&family=Source+Serif+Pro:wght@400;700&display=swap');

body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  box-sizing: content-box;
  background-image: url("https://media.wired.com/photos/5e6bcd1ec0b1110009a4db29/master/pass/Biz-medmasks-1210886409.jpg");
  background-size: 140%;
  /* background: rgb(238,174,205);
  background: radial-gradient(circle, rgba(238,174,205,1) 0%, rgba(148,160,233,1) 100%); */
}

.dropdown {
  margin-top: 40px;
}

label {
  font-family: sans-serif;
  font-size: 1.25em;
  padding-right: 10px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}

#state-select {
  font-size: 1.25em;
  padding: 2px 5px;
}

.stats-box {
  border: 0px solid rgb(208, 208, 208);
  box-shadow: 10px 5px 8px rgba(0,0,0,0.2);
  margin-top: 1em;
  padding: 40px 70px;
  background-color: white;
  align-self: center;
  color: black;
  font-family: 'Roboto', serif;
}

#state-stat-header {
  border: 0px solid green;
  margin: 5px 0;
  color: rgb(225, 86, 16);
  font-family: 'Arvo', sans-serif;
  font-weight: 700;
  font-size: 3em;
  text-transform: uppercase;
}

.stat-label {
  border: 0px solid purple;
  color: rgb(129, 129, 129);
  margin: 0;
  padding: 10px 0 0 0;
  font-family: 'Arvo', serif;
  font-family: 'Roboto', serif;
  font-weight: 400;
  font-size: 1.7em;
}

.covid-data {
  border: 0px solid blue;
  color: black;
  margin-left: 0.2em;
  font-weight: 700;
  font-size: 1.3em;
}

.covid-total {
  border: 0px solid lightblue;
  color: black;
  margin-left: 0.2em;
  font-weight: 700;
  font-size: 1.3em;
}

